MCBooster
*.so
.project
examples/simpleFit/simpleFitExample
examples/dalitz/dalitz
examples/exponential/exponential 
examples/product/product
thrust/*
**/testing/
wrkdir/
*.o
*.png
*.eps
html/
*.aux
*.haux
*.htoc
*.log
*.out
*.toc
*.root