[submodule "extern/cmake"]
	path = extern/cmake_utils
	url = ../../CLIUtils/cmake.git
[submodule "extern/generics"]
	path = extern/generics
	url = ../../GooFit/generics.git
[submodule "extern/CLI11"]
	path = extern/CLI11
	url = ../../CLIUtils/CLI11.git
[submodule "extern/Minuit2"]
	path = extern/Minuit2
	url = ../../GooFit/Minuit2.git
[submodule "extern/thrust"]
	path = extern/thrust
	url = ../../thrust/thrust.git
[submodule "extern/rang"]
	path = extern/rang
	url = ../../agauniyal/rang.git
[submodule "extern/pybind11"]
	path = extern/pybind11
	url = ../../pybind/pybind11.git
[submodule "extern/FeatureDetector"]
	path = extern/FeatureDetector
	url = ../../GooFit/FeatureDetector.git
[submodule "extern/fmt"]
	path = extern/fmt
	url = ../../fmtlib/fmt.git
[submodule "extern/sanitizers"]
	path = extern/sanitizers
	url = ../../arsenm/sanitizers-cmake.git
[submodule "extern/MCBooster"]
	path = extern/MCBooster
	url = ../../GooFit/MCBooster.git
[submodule "extern/Eigen"]
	path = extern/Eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "extern/modern_cmake"]
	path = extern/modern_cmake
	url = ../../CLIUtils/modern_cmake.git
[submodule "extern/catch2"]
	path = extern/catch2
	url = ../../catchorg/catch2.git
