*.swp
*~
*.so
.project
compile_commands.json
*.vscode

include/goofit/PDFs/PdfHelpers.h
include/goofit/ThrustOverrideConfig.h
include/goofit/Version.h

thrust/*
**/testing/
*build*/*
wrkdir/
*.o
*.a
*.png
*.eps
html/
latex/
*.aux
*.haux
*.htoc
*.log
*.out
*.toc
*.root
/work/*
/goofit*
*/.ipynb_checkpoints/*
*.pyc
*__pycache__/*

CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

