graft cmake
graft docs
prune docs/html
graft extern
graft goofit
graft include
graft python
graft scripts
graft src
graft tests
global-exclude .git*
include CMakeLists.txt LICENSE Pipfile README.md setup.py
