[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

scikit-build = "*"
cmake = "*"
numpy = "*"

[dev-packages]

numba = "*"
uncertainties = "*"
pytest = "*"
matplotlib = "*"
pandas = "*"
scipy = "*"
jupyter = {extras = ["all"]}
