alltxtfiles4pipipi0DPFit.tgz
alltxtfiles4pipipi0DPFit/*
bkg_2_pdf_sideband_6slices.txt
bkg_3_pdf.txt
bkg_4_pdf.txt
dataFiles/bkgDalitz_2.txt
dataFiles/bkgDalitz_3.txt
dataFiles/bkgDalitz_4.txt
dataFiles/cocktail_pp_0.txt
dataFiles/efficiency_flat.txt
dataFiles/sideband1.txt
dataFiles/sideband2.txt
signal_sigma_2slices_pdf.txt
signal_sigma_3slices_pdf.txt
signal_sigma_4slices_pdf.txt
signal_sigma_5slices_pdf.txt
signal_sigma_6slices_pdf.txt
signal_sigma_7slices_pdf.txt
signal_sigma_8slices_pdf.txt
